/***** BASE RESET *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
}

/***** BASE RESET *****/
.container-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
