$color-dark-1: #03212f;

$color-primary: #0ea5e9;
$color-primary-2: #0d95d2;
$color-white: #fff;

/***** BASE RESET *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #f8fafc;
}
