//***** COMPONENTS *****//
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container-hero {
  display: grid;
  column-gap: 6.4rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.mini-container {
  max-width: 96rem;
  padding: 0 2.4rem;
  margin: 0 auto;
}

.app-grid {
  display: grid;
  grid-template-columns: 25rem 1fr;
  min-height: 100vh;
}

//***** TYPOGRAPHY *****//
.heading-primary,
.heading-seconary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 6.4rem;
  color: $color-dark-1;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  color: $color-dark-1;
  margin-bottom: 4.8rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #0ea5e9;
  margin-bottom: 1.2rem;
}

//***** BUTTON *****//
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s ease-in-out;

  // fix button element
  border: none;
  font-family: inherit;
}

.btn,
.btn--full:link,
.btn--full:visited {
  color: $color-white;
  background-color: $color-primary;
}

.btn,
.btn--full:hover,
.btn--full:active {
  background-color: $color-primary-2;
}

.btn,
.btn--outline:link,
.btn--outline:visited {
  color: $color-dark-1;
  background-color: $color-white;
}

.btn,
.btn--outline:hover,
.btn--outline:active {
  box-shadow: 0 0 0 0.3rem $color-primary;
  background-color: transparent;
}

//***** BUTTON *****//
.margin-right--sm {
  margin-right: 1.6rem;
}

.margin-top--sm {
  margin-top: 1.6rem;
}
