//**//** HERO SECTION **//**//
.section-hero {
  padding: 12.8rem 0 9.6rem 0;
}

.hero {
  &__text-box {
    padding-left: 12.8rem;
  }

  &__description {
    font-size: 2rem;
    line-height: 1.6;
    width: 35ch;
    margin-bottom: 4.8rem;
  }

  &__img-box {
    display: grid;
    justify-content: end;

    img {
      width: 100%;
    }
  }
}

//**//** PARTNERS SECTION **//**//
.section-partners {
  padding: 3.2rem 0;
}

.partners {
  &__heading {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #777;
    margin-bottom: 2.4rem;
  }

  .logos {
    display: flex;
    gap: 4.8rem;
    justify-content: center;
  }
}