//**//** HERO SECTION **//**//
.section-hero {
  padding: 9.6rem 0 9.6rem 0;
}

.hero {
  &__text-box {
    padding-left: 12.8rem;
  }

  &__description {
    font-size: 2rem;
    line-height: 1.6;
    width: 35ch;
    margin-bottom: 4.8rem;
  }

  &__img-box {
    display: grid;
    justify-content: end;

    img {
      width: 100%;
    }
  }
}

//**//** PARTNERS SECTION **//**//
.section-partners {
  padding: 3.2rem 0;
}

.partners {
  &__heading {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #777;
    margin-bottom: 2.4rem;
  }

  .logos {
    display: flex;
    gap: 4.8rem;
    justify-content: center;
  }
}

//**//** FROM ELEMENT **//**//
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.6rem;
  row-gap: 2.4rem;

  label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }

  input {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-bottom: 0 1px 2px solid #000;
    border-radius: 9px;
  }
}

//////////////////////////////////
//**//** PARTNERS SECTION **//**//
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f1f5f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 3.2rem 0 4.8rem 2.4rem;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &-link {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      padding: 0.8rem;
      font-size: 1.6rem;
      line-height: 1.6;

      ion-icon {
        padding: 0.8rem;
        border-radius: 0.9rem;
        color: #fff !important;
        background-color: #0ea5e9;
      }

      &--active {
        background-color: #dbeafe;
        border-bottom-left-radius: 0.9rem;
        border-top-left-radius: 0.9rem;
        box-shadow: 2rem 0 1rem rgba(255, 255, 255, 0.603);
      }

      ion-icon {
        color: #0284c7;
        font-size: 2rem;
      }
    }
  }

  .app-logo {
    font-size: 2.4rem;
    font-weight: 700;
    color: #0ea5e9;
    margin-bottom: 6.4rem;
  }

  // profile
  &__profile {
    list-style: none;
    margin-top: auto;
    padding-left: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.4rem;
    font-weight: 500;

    li {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      ion-icon {
        font-size: 1.6rem;
      }
    }
  }
}
