@media screen and (max-width: 75em) {
  // components
  .heading-primary {
    font-size: 5.4rem;
    margin-bottom: 2.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
    margin-bottom: 3.2rem;
  }

  .subheading {
    font-size: 1.4rem;

    margin-bottom: 0.8rem;
  }

  .app-grid {
    grid-template-columns: 20rem 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 2rem;

    padding: 1.2rem 2.4rem;
  }

  // layout
  .hero {
    &__text-box {
      padding-left: 9.6rem;
    }

    &__description {
      font-size: 1.8rem;
      margin-bottom: 3.2rem;
    }
  }

  .partners {
    &__heading {
      font-size: 1.4rem;
      margin-bottom: 1.6rem;
    }

    .logos {
      gap: 3.2rem;
    }
  }

  .form {
    column-gap: 3.6rem;
    row-gap: 2.4rem;

    label {
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
    }

    input {
      padding: 0.8rem;
      font-size: 1.6rem;
    }
  }

  // app
  .sidebar {
    padding: 2.4rem 0 3.2rem 1.6rem;

    .app-logo {
      font-size: 2.4rem;
      margin-bottom: 6.4rem;
    }

    // profile
    &__profile {
      padding-left: 0.8rem;
      gap: 1.6rem;
    }
  }

  // all cars
  .section-cars {
    padding: 9.6rem 0;
  }

  .cars-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.6rem;
    row-gap: 2.4rem;
  }

  .car-card {
    img {
      margin-bottom: 1.2rem;
    }

    &__title {
      font-size: 2rem;
    }
  }

  // one car
  .one-car {
    width: 80%;
    margin-left: 5.4rem;
    margin-bottom: 2.4rem;
  }

  .details {
    &__title {
      font-size: 1.6rem;
    }

    &__description {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 57em) {
  // components
  .container-hero {
    grid-template-columns: 1fr;
  }

  .heading-primary {
    padding: 0 3.2rem;
  }

  // layout
  .hero {
    &__description {
      width: 100%;
      padding: 0 3.2rem;
    }
    &__text-box {
      padding-left: 0;
      text-align: center;
    }

    &__img-box {
      justify-items: end;

      img {
        width: 65%;
      }
    }
  }

  .form {
    grid-template-columns: 1fr;
    max-width: 36rem;
    margin: 0 auto;
    row-gap: 1.6rem;

    label {
      text-align: start;
    }
  }

  // app
  .cars-list {
    grid-template-columns: 1fr 1fr;
    row-gap: 1.6rem;
  }

  .details {
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
  }
}

@media screen and (max-width: 43em) {
  .app-grid {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }

  .logos {
    flex-wrap: wrap;
  }

  .hero__img-box img {
    width: 95%;
  }
}

@media screen and (max-width: 32em) {
  .cars-list {
    grid-template-columns: 1fr;
  }

  .one-car {
    width: 100%;
    margin-left: 0;
    margin-bottom: 3.6rem;
  }
}
/*
## Font sizes
- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

## Spacing system
- 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
